:root {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

body {
	font: 100%/1.5 system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

@media only screen and (max-width: 680px) and (min-width: 320px) {
	body {
		overflow-x: auto;
	}
}

@media only screen and (max-width: 680px) {
	h1:not([class]) {
		align-items: center;
		display: flex;
		padding-top: 1em;
		flex-direction: column-reverse;
	}

	h1:not([class]) > a {
		border-width: 0;
	}
}

@media only screen and (max-width: 480px) {
	h1:not([class]) + p {
		align-items: center;
		display: flex;
		flex-direction: column;
	}

	h1:not([class]) + p > a {
		border-width: 0;
	}

	#main {
		float: initial;
		min-width: 0;
		width: auto;
	}
}

a {
	color: #0366d6;
}

a code {
	background-color: rgba(27,31,35,.05);
	border-radius: 3px;
	font-size: 85%;
	margin: 0;
	padding: .2em .4em;
}

article a {
	border-bottom: none;
}

nav ul ul a {
	color: #666;
}

h4.name {
	background-color: transparent;
	border: none;
	box-shadow: 0 .375em 0 0;
	color: #000;
	padding: .25em;
	margin: 2.5em 0 1em;
}

h2 + h4.namem, h3 + h4.name {
	margin-top: 1em;
}

h4.name a, h4.name .signature, h4.name .type-signature, h4.name .signature-attributes {
	color: inherit;
}

h4.name .type-signature, h4.name .signature-attributes {
	color: rgba(0, 0, 0, .5);
}

h4.name .type-signature a {
	color: #0366d6;
}

h4.name .type-signature:first-child {
	font-size: 80%;
}

/* Pretty Print
/* ========================================================================== */

.prettyprint, .prettyprint.source {
	background-color: #f6f8fa;
	border-radius: 3px;
	border-style: none;
	color: #24292e;
}

.prettyprint code {
	background-color: transparent;
	color: inherit;
	font: 14px/1.428571428571429 SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	padding: 16px;
}

.com {
	color: #6a737d;
}

.lit {
	color: #003e00;
}

.kwd {
	color: #d73a49;
}

.pln {
	color: purple;
}

.pun {
	color: #24292e;
}

.str, .typ {
	color: #080;
}

.typ {
	color: #24292e;
}

.lang-bash * {
	color: inherit;
}

/* ...
/* ========================================================================== */

article, .container-overview {
	overflow-x: auto;
}

.code-caption {
	font-size: 90%;
	font-style: normal;
	margin: 1em 0 -.75em;
}

.details + h5 {
	clip: rect(0 0 0 0);
	position: absolute;
}

div.param-desc + .param-type {
	margin-left: 2.5em;
	margin-top: -.75em;
}

div.param-desc + .param-type > * {
	font-size: 80%;
}

.container-overview > h2 {
	clip: rect(0 0 0 0);
	position: absolute;
}
